<template>
    <div class="system" v-if="name === 'admin'">
        <p class="system-text text-xs-center">{{text}}</p>
        <hr>
    </div>
    <div v-else class="message" v-bind:class="{owner}">
        <p class="message-name"> {{ name }} </p>
        <p class="message-text"> {{ text }} </p>
    </div>
</template>
<script>
export default {
    data: () => ({
    }),
    props: {
        name: String,
        text: String,
        owner: {
            type: Boolean,
            default: false
        }
    }
}
</script>
<style scoped>
.system {
    width: 100%;
    padding: 1rem
}

.system-text {
    font-size: .8rem;
    text-align: center;
}

.message {
    width: 50%;
    min-width: 280px;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(50,50,50, .3);
    background: #1976d2;
    color: #fff;
    align-self: flex-start;
}

.message-name {
    font-weight: bold;
}

.message-text {
    padding-top: .7rem;
}

.owner {
    background: #fff;
    color: #000;
    align-self: flex-end;
}
</style>