<template>
    <v-text-field
        class="control"
        label="Написать сообщение"
        v-model = 'text'
        @keyup.enter="send"
        outlined
    ></v-text-field>
</template>
<script>
export default {
    data: () =>({
        text: ''
    }),
    methods: {
        send() {
            const message = { id: this.$store.state.user.id, text: this.text };
            this.$socket.emit('createMessage', message, (data) => {
                if(data.status !== 200) {
                    console.error(data.state.message)
                } else {
                    this.text = '';
                }
            })
        }
    }
    
}
</script>
<style scoped>
.control {
}
</style>