// <v-list-item-avatar>
//   <v-img :src="item.avatar"></v-img>
// </v-list-item-avatar>
<template>
  <v-app app>
    <v-navigation-drawer app v-model='drawer' mobile-break-point="650">
      <v-list subheader>
      <v-subheader>Участники диалога</v-subheader>

      <v-list-item
        v-for="u in users"
        :key="u.name"
        class="user"
      >

        <v-list-item-content>
          <v-list-item-title v-text="u.name"> {{ u.name }} </v-list-item-title>
        </v-list-item-content>

        <v-list-item-icon>
          <v-icon :color="u.id === user.id ? 'deep-purple accent-4' : 'grey'">chat_bubble</v-icon>
        </v-list-item-icon>
      </v-list-item>
    </v-list>
    </v-navigation-drawer>

  <v-app-bar app>
    <v-app-bar-nav-icon @click='drawer = !drawer'></v-app-bar-nav-icon>
    <v-btn icon @click='exit'>
      <v-icon>arrow_back</v-icon>
    </v-btn>
    <v-toolbar-title>
      Чат комнаты: {{ user.room }}
    </v-toolbar-title>
  </v-app-bar>
    <v-content>
      <nuxt/>
    </v-content>
  </v-app>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  data: _ => ({
    drawer: true
  }),
  computed: mapState(['user', 'users']),
  methods: {
    ...mapMutations(['reset']),
    exit() {
      const { user } = this;

      this.$socket.emit('userLeft', user,  (data, cb) => {
          this.$router.push('/?message=userLeft');
          this.reset();
      })
    }
  }
}
</script>
<style scoped>
  .user {
    cursor: pointer;
  }
</style>
