<template>
    <div class="c-wrap">
        <div class="c-chat" ref="chatRef">
            <ul class="c-chat-list" >
                <Message
                    v-for="(m, index) in messages"
                    :key="index"
                    :name="m.name"
                    :text="m.text"
                    :owner="user.id === m.id"
                />
            </ul>
        </div>
        <div class="c-send">
            <Send />
        </div>
    </div>
</template>
<script>

import Send from '@/components/Send';
import Message from '@/components/Message';
import { mapState } from 'vuex';

export default {
    computed: mapState(['messages', 'user']),
    middleware: ['chat'],
    watch: {
        messages() {
            setTimeout(_ => {
                this.$refs.chatRef.scrollTop = this.$refs.chatRef.scrollHeight;
            }, 0);
        }
    },
    components: {
        Send,
        Message
    }
}
</script>

<style scoped>

.c-wrap {
    position: relative;
    height: 100%;  
    overflow: hidden;
}

.c-chat {
    position: absolute;
    overflow-y: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 85px;
    padding: 1rem;
}

.c-chat-list {
    display: flex;
    flex-direction: column;
}

.c-send {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    padding: 1rem;
    background: #212112;
}
</style>