<template>
  <v-layout
    app
    column
    justify-center
    align-center
  >
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      top
    >
      {{ message }}
      <v-btn
        color="blue"
        text
        @click="snackbar = false"
      >Close</v-btn>
    </v-snackbar>
    <v-flex xs12 sm8>
      <v-card min-width="400">
        <v-card-title>
          <h1>Nuxt chat</h1>
        </v-card-title>
        <v-card-text min-width="400">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-text-field
              v-model="name"
              :counter="16"
              :rules="nameRules"
              label="Введите имя"
              required
            ></v-text-field>

            <v-text-field
              v-model="room"
              :rules="roomRules"
              label="Введите комнату"
              required
            ></v-text-field>

            <v-btn
              :disabled="!valid"
              color="primary"
              class="mr-4"
              @click="submit"
            >Войти</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapMutations } from 'vuex';

  export default {
    layout: 'empty',
    sockets: {
      connect() {
        console.log('Client connected');
      }
    },
    data: () => ({
      snackbar: false,
      message: '',
      timeout: 4000,
      valid: true,
      name: '',
      nameRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => (v && v.length <= 16) || 'Минимальное количество символов 16',
      ],
      room: '',
      roomRules: [
          v => !!v || 'Поле обязательно для заполнения'
      ]
    }),
    methods: {
      ...mapMutations(['setUser']),
      submit () {
        if (this.$refs.form.validate()) {
          const { name, room } = this;
          const user = { name, room };

          this.$socket.emit('joinUser', user, ({ status, state }) => {
            
            if(status === 400) {
              return alert(state.message)
            }

            user.id = state.id;

            this.setUser(user);
            this.$router.push('/chat');
            
          })
        }
      }
    },
    mounted() {
      const { message } = this.$route.query;

      if(message === 'userLeft') {
        this.message = 'Вы покинули чат';
        this.snackbar = true;
      }

      if(message === 'noUser') {
        this.message = 'Введите данные для входа в чат';
        this.snackbar = true;
      }

      setTimeout(_ => this.message = '', this.timeout);
    },
  }
</script>
